@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

:root {
  --yellow: #ffd659;
  --green: #61821f;
}

@font-face {
  font-family: Balbeer;
  src: url(../public/assets/fonts/Balbeer-Rustic.ttf);
}

@font-face {
  font-family: SantElia;
  src: url(../public/assets/fonts/santelia-rough.otf);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  background-color: #ffffff, 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.fadeIn {
  animation: fadeIn 500ms linear;
}

.fadeOut {
  animation: fadeOut 500ms linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-container {
  z-index: -1;
}
